<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>rcdi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <!-- 12. url이 *.rcdi로 끝나는 경우 이동ㅇ하는 FrontController를 정의 -->
  <!-- 결론: url이 *.rcdi으로 끝나면 "com.rcdi.controller.FrontController"로 이동 -->
  	<servlet-name>FrontController</servlet-name>
  	<servlet-class>com.rcdi.controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  <!-- 11. url의 끝부분이 .rcid로 끝나면 FrontController로 이동
  			url: idCheck.rcdi => FrontController로 이동  
  			FrontController가 어디있는지 몰라요...
  			위를 보세요 ↑ -->
  <servlet-name>FrontController</servlet-name>
  	<url-pattern>*.rcdi</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>